.integrations-section {
  padding: 5rem 0;
  background-color: whitesmoke;
  text-align: center;
}

.logos-cloud {
  height: 150px;
  position: relative;
  max-width: 800px;
  margin: 0 auto 2rem;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.logo-item {
  padding: 10px 20px;
  background: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  border-radius: 8px;
  font-weight: 700;
  color: #555;
}

h2 {
  font-size: 2.2rem;
  color: #000;
  margin-bottom: 1rem;
}

p {
  color: var(--text-grey);
  max-width: 600px;
  margin: 0 auto;
}